body {
    margin: 0;
    padding: 0;
}
span + span{
    margin-left: 50px;
}
#header { 
padding-left: 10%;
height: 10vh;
width: 100vw - 10px;
display: flex;
align-items: center; 

background: silver;
position:relative;
text-align: center;
line-height: 100%;
color:darkmagenta;
}
#header div{
    display: inline-block;
}

#main {
    margin: 20px;
    margin-top: 20px;
    width: 100vw - 20px;
    height: 500px;
    overflow: visible;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#main img{
    height: 500px;
    padding: 10px;
    border-radius: 40px;
}
#main img:hover{
    transform: scale(1.13);
}
#main img{
    transition:.6s ease;
}
.shiny {
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 5px darkmagenta, 0 0 25px darkmagenta;
    background-color: darkmagenta;
    color: white;
    transition:.6s ease;
}
.shiny:hover{
    box-shadow: 0 0 5px darkmagenta, 0 0 25px darkmagenta, 0 0 50px darkmagenta, 0 0 100px yellow;
}